#tagSearch {
  width:fit-content;
}

#tagSearch .tagsClass {
  align-items:flex-start;
  overflow-x: auto;
  display: flex;
  flex-direction: column-reverse;
  overflow: visible;
  width: 482px;
}

#tagSearch .tagInputClass {
  font-size: 16px;
}

#tagSearch .tagInputClass input:focus-visible {
  outline: none;
}

#tagSearch .tagInputClass input {
  width: 450px;
  height: 40px;
  background-color: white;
  border-radius: 0.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  outline-width: 1px;
  outline-color: #CECECE;
}

#tagSearch .tagClass {
  background-color: #FFFFFF;
  padding: 0.25rem  0.5rem;
  margin: 1rem 0.25rem 1rem 0rem;
  border-radius: 0.5rem;
  display: inline;
}

#tagSearch .selectedClass {
  display: block;
  left: -35px;
  margin-top: 0.75em;
  width: 80vw;
  position: relative;
}

#tagSearch .removeClass {
  margin-left: 0.25rem;
}

.scroll-div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}